[flake8]
max-line-length = 120
exclude =
    assets,
    data,
    scripts/ldm,
    scripts/generate_rotations
ignore =
    E203,
    E262,
    E402,
    E501,
    E713,
    E721,
    E722,
    E731,
    F401,
    F403,
    F405,
    F541,
    F811,
    F841,
    W291,
    W293,
    W503
